*{
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  border: 1px solid #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.item{
  background: #ccc;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
.item:hover{
  background: #ddd;
}

.main .mine{
  background: url('./img/dilei.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .flag{
  background: url('./img/hongqi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .click{
  background: #eee;
}







*{}
